html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-gilory: 'gilroy';
  --font-HarmonyOS: 'HarmonyOS';
}

body {
  margin: 0;
  font-family: var(--font-gilory), var(--font-HarmonyOS), 'PingFang SC',
    'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: var(--mui-palette-text-primary);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  --mui-opacity-inputPlaceholder: 0.2;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
}

.multiline-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

::-webkit-scrollbar {
  width: 4px;
  /* 纵向滚动条*/
  height: 0;
  /* 横向滚动条隐藏 */
  border-radius: 10px;
}

/*定义滚动条轨道 内阴影*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: 10px;
}

/*定义滑块 内阴影*/
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #ccc;
  border-radius: 10px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent !important;
  background-image: none !important;
  box-shadow: none !important;
  -webkit-text-fill-color: var(--mui-palette-text-primary) !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
